s* {
  box-sizing: border-box;
  font-size: 16px;
}

/* Grid measurements:
 *
 *   960px wide including 12 gutters (half gutters on both edges)
 *
 *   60px columns (12)
 *   20px gutters (two half-gutters + 11 full gutters, so 12 total)
 *
 *
 *   For smaller screens, we always want 20px of padding on either side,
 *   so 960 + 20 + 20 => 1000px
 *
 **/
.row {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-8, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/1160 (context) = 0.862069%
   *
   */
  padding-left: 0.862069%;
  padding-right: 0.862069%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-8, .col-12 {
  width: 100%;
}
.mg_top {
  margin-top: 2rem;
}

/* List item for mobile */
.li_main {
  list-style: none; 
  width: 100%;
  position: relative;
  padding-top: 1rem;    
  padding-bottom: 1rem;
  border-bottom: 1px solid #dde2e6;
  line-height: 2em;
  text-align: left;
}
.w1, .w1a, .w2, .w3 {
  display: inline-block;
  font-size: 1rem;
}
.w1::after, .w1a::after, .w2::after, .w3::after {
  /* display: table; */
  content: ':';
}

.inp-full {
  margin-top: 6px;
  margin-bottom: 13px;
  width: 100%;
  /* padding: 14px; */
}

.font_el {
  font-size: 2.8rem;
  letter-spacing: -0.01rem; 
  color: #2a2c2d;
  line-height: 1.23076923;
  font-weight: 300;
  max-width: 700px;
  margin-bottom: 1rem;
}

.skill-box {
  width: 50%;
  float: left;
}

/* Non-mobile, grid Originally 640 -> Updated 760 */
@media only screen and (min-width: 760px) {

  .font_el {
    font-size: 3.8rem;
  }
  .skill-box {
    width: 20%;
  }

  .inp-full {
    width: 680px;
  }

  /* List item */
  .li_main {
    display: flex;
    justify-content: space-between;
    /* float: left; */
    width: 90%;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #dde2e6;
    line-height: 2em;
  }
  .w1 { /* sum should be 90% */
    width: 10%;
  }
  .w1a {
    width: 12%;
  }
  .w2 {
    width: 15%;
  }
  .w3 {
    width: 26%;
  }
  .w1, .w1a, .w2, .w3 {
    display:flex;
    flex-flow: wrap;
    font-size: 1rem;
    line-height: 1.3rem;
    vertical-align: middle;
  }

  .w1::after, .w1a::after, .w2::after, .w3::after {
    /* display: table; */
    content: '';
  }
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns */
  .col-4 {
    width: 33.33%;
  }

  /* 6 columns */
  .col-6 {
    width: 50%;

  }

  /* 8 columns */
  .col-8 {
    width: 66.67%;
  }

  /* 12 columns */
  .col-12 {
    width: 100%;
  }
  .mg_top {
    margin-top: 6rem;
  }
}

/*
@media only screen and (min-width: 960px) {
  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-6 {
    width: 50%;

  }

  .col-8 {
    width: 66.67%;
  }

  .col-12 {
    width: 100%;
  }

}
*/